.container {
    box-shadow: 0px 7px 6px 0.05px rgba(0, 0, 0, 0.2);
    background-color: #3450a1;
    padding-top: 10px;
    padding-bottom: 20px;
    max-width: 600px;
    margin: 0px auto;
    margin-bottom: 50px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 1;
}
h3 {
    color: white;
}
.heading {
    text-align: center;
}

#input {
    text-align: center;
    position: fixed;
    bottom: 0;
    background-color: #3450a1;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px -3px 9px 1px rgba(0, 0, 0, 0.2);
}

#newTodo {
    width: 70%;
    max-width: 500px;
    height: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    font-family: monospace;
    font-size: 1.5em;
    padding-bottom: 3px;
    border-style: none;
    border-radius: 300px;
}

#newTodo:hover {
    box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.2);
    border-style: none;
}

li {
    box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.2);
    background-color: #041955;
    border-radius: 22px;
    margin-bottom: 7px;
    max-width: 500px;
    word-wrap: break-word;
    list-style-type: circle;
    list-style-position: outside;
    font-size: 1.5em;
    margin-right: 7%;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
}

/* li:before {
    content: '\00b7';
    font-size: 100px;
    line-height: 24px;
    vertical-align: top;
    list-style-position: outside;
} */

h1 {
    text-align: center;
    background-color: #3450a1;
    padding-top: 20px;
    padding-bottom: 0px;
    margin-top: 0;
    margin-bottom: -2px;
    color: #f7f8fb;
    font-size: 2.4em;

}

label {
    font-size: 1.5em;
    font-weight: 600;
    color: #f7f8fb;
    
}

button {
    font-size: 1.5em;
    font-weight: 700;
    border-style: none;
    border-radius: 22px;
    padding-top: 4px;
    padding-bottom: 4px;
    background: none;
    color: white;
    background-color: #041955;
    width: 20%;
}

button:hover {
    cursor: pointer;
    box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.2);
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    margin-bottom: 20%;
}

.contain {
    min-height: calc(70% - 30px);
    z-index: 1;
    overflow-x: hidden;
}

.wrapper .icon {
    position: relative;
    background-color: #ffffff;
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 22px;
    display: inline-block;
    align-items: center;
    text-align: center;
    z-index: 1;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    color: #333;
    text-decoration: none;
    
}

.wrapper .tooltip {
    position: absolute;
    top: 0;
    line-height: 1.5;
    font-size: 14px;
    background-color: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background-color: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
    background-color: #3b5999;
    color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
    background-color: #46c1f6;
    color: #ffffff;
}

.wrapper .whatsapp:hover,
.wrapper .whatsapp:hover .tooltip,
.wrapper .whatsapp:hover .tooltip::before {
    background-color: #11cf57;
    color: #ffffff;
}

.wrapper .linkedin:hover,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before {
    background-color: #0077b5;
    color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
    background-color: #333333;
    color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
    background-color: #de463b;
    color: #ffffff;
}